@using EmployeesPairWork.Models
@model FileInputModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <form asp-controller="Home" asp-action="Index" enctype="multipart/form-data" method="post">
        <div>New CSV file:</div>
        <div>
            <input type="file" asp-for="FormFile">
        </div>
        <p><input type="submit" value="Upload"></p>
    </form>

    <br>

    <div>
        @if (Model != null && Model.Employees != null && Model.Employees.Count != 0)
        {
            <partial name="_ListEmployeesPartialView" model=@Model.Employees />
        }
    </div>
</div>


@section Scripts{
<script>
    $(document).ready(function(){
        console.log("test");
        $('#myTable').DataTable();
    });
</script>
}